/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/release_notes
/.changelogs
.env
.env.testing
.env.local
.env.backup
.env.dev
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
TODO.md
TODO_*.md
composer.lock
package-lock.json
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/lang/php_*.json
