@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-website: 'Nunito Sans', serif;

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-logo: var(--logo);
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-cta: var(--website-cta);
    --color-website-secondary: var(--website-secondary);
    --color-website-primary: var(--website-primary);
    --color-website-border: var(--website-border);
    --color-website-font: var(--website-font);
    --color-website-card: var(--website-card);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-required: var(--required);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    color-scheme: light dark;
    --website-primary: #224e91;
    --website-secondary: #e3ebfc;
    --website-cta: #ffd700;
    --website-border: #5770a1;
    --website-font: #0d0d3a;
    --website-card: #ebf5ff;
    --logo: #111154;
    --background: oklch(0.9656 0.0171 248.01);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(42.935% 0.11812 258.322);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(93.908% 0.02466 265.621);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(88.741% 0.03922 247.138);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(54.662% 0.22366 28.305);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --required: oklch(93.003% 0.03545 17.644);
    --border: oklch(42.935% 0.11812 258.322);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --success: oklch(0.6 0.118 184.704);
    --chart-1: oklch(45.633% 0.13478 263.563);
    --chart-2: oklch(56.627% 0.09703 258.464);
    --chart-3: oklch(42.935% 0.11812 258.322);
    --chart-4: oklch(54.636% 0.08264 263.21);
    --chart-5: oklch(56.983% 0.15547 258.607);
    /* --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08); */
    --radius: 0.625rem;
    --sidebar: oklch(99.385% 0.00297 264.8);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(45.633% 0.13478 263.563);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(86.883% 0.05648 265.222 / 0.74);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(54.636% 0.08264 263.21);
    --sidebar-ring: oklch(0.87 0 0);
}

.dark {
    --background: oklch(27.148% 0.00474 248.155);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(32.965% 0.0099 242.077);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(30.735% 0.02354 246.139);
    --accent-foreground: oklch(0.985 0 0);
    --required: oklch(26.942% 0.01213 17.793);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(30.735% 0.02354 246.139);
    --input: oklch(36.768% 0.00004 271.152);
    --ring: oklch(0.439 0 0);
    --success: oklch(0.696 0.17 162.48);
    --chart-1: oklch(50.163% 0.21271 262.679);
    --chart-2: oklch(56.627% 0.09703 258.464);
    --chart-3: oklch(43.634% 0.10447 257.957);
    --chart-4: oklch(33.703% 0.08577 263.304);
    --chart-5: oklch(56.983% 0.15547 258.607);
    /* --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439); */
    --sidebar: oklch(30.956% 0.0018 286.009);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(34.423% 0.01775 248.397);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(36.025% 0.05066 263.018);
    --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

a {
    @apply underline;
    cursor: pointer;
}
.tooltip {
    display: none;
}

*:hover + .tooltip {
    display: block;
    position: absolute;

    z-index: 10;
    padding: 8px 16px;
    width: fit-content;
    background-color: var(--color-foreground);
    color: var(--color-background);
    font-size: var(--text-xs);
    border-radius: 4px;
    white-space: nowrap;
}

*:hover + .tooltip.tooltip-bottom {
    top: 2.5rem;
}

*:hover + .tooltip.tooltip-top {
    bottom: 2.5rem;
}

select {
    font-size: 14px;
    font-family: var(--font-sans);
    border: 1px solid white;
    border-radius: var(--radius-md);
    padding: 8px 8px;
}

option {
    color: var(--color-foreground);
    font-size: var(--text-sm);
    font-family: var(--font-sans);
    background-color: var(--color-background);
}

nav a:not[data-slot-breadcrumb] {
    font-size: clamp(0.8rem, 1.35vw, 1.2rem);
}

a:hover {
    @apply italic;
}

[data-slot='sidebar-menu-button'] {
    text-decoration: none;
}

[data-slot='sidebar-menu-button']:hover {
    font-style: normal;
}

h1 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    line-height: 4rem;
}

h2 {
    font-size: clamp(1.75rem, 4vw, 2.75rem);
    line-height: 3rem;
}

h3 {
    font-size: clamp(1.5rem, 3vw, 2rem);
}

h4 {
    font-size: clamp(1.25rem, 2.75vw, 1.75rem);
}

h5 {
    font-size: clamp(1.125rem, 2.5vw, 1.5rem);
}

h6 {
    font-size: clamp(1rem, 1.75vw, 1.25rem);
    line-height: 2rem;
}

label:has(input:required) {
    /* color: oklch(38.385% 0.05163 19.666); */
    font-weight: bold;
}

div:has(+ input:required)::after {
    content: '*';
    color: var(--color-destructive);
    font-size: large;
    font-weight: bold;
}

label:has(+ select:required)::after,
label:has(+ textarea:required)::after,
label:has(+ input:required)::after {
    content: '*';
    color: var(--color-destructive);
    font-size: large;
    font-weight: bold;
}

*:required {
    background-color: var(--color-required);
}

.website .contact-success {
    color: var(--success);
}

.website input,
.website select,
.website textarea {
    background-color: oklch(93.908% 0.02466 265.621);
    border-width: 1px;
    border-color: oklch(0.922 0 0);
}

.website-details {
    details {
        margin-block: 0rem;
        padding-block: 0rem;
        /* border-block-end: 1px solid #000; */
    }
}

/* Light styling for presentation */
details {
    /* border-block-end: 1px solid #000; */
    /* margin-block: 0.5rem;
    padding-block: 0.5rem; */
}

summary {
    /* Pin the custom marker to the container */
    position: relative;
    /* Register summary as an anchor element */
    anchor-name: --summary;

    &::marker {
        content: '';
    }

    &::before,
    &::after {
        /* Custom marker dimensions */
        content: '';
        border-block-start: 3px solid orangered;
        height: 0;
        width: 1rem;

        /* Positions the lines */
        inset-block-start: 50%;
        inset-inline-end: 2%;

        /* Anchor the shape to the summary */
        position: absolute;
        position-anchor: --summary;
        position-area: top end;
    }

    /* Rotate just the ::after line to create a "+"" shape */
    &::after {
        transform: rotate(90deg);
        transform-origin: 50%;
    }
}

/* Rotate the line when open */
details[open] summary::after {
    transform: rotate(0deg);
}

/* WEBSITE */

.blob {
    border-radius: 55% 45% 68% 32% / 30% 30% 70% 70%;
}
